<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.university.daos.interfaces.IStudentDAO">
    <resultMap type="com.solvd.university.model.Student" id="userResultMap" autoMapping="false">
        <id column="id" property="id"/>
        <!--columnName is the name in the resultSet, not the name in the column (query with as operator)-->
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="age" property="age"/>
        <result column="year_id_degree" property="yearsInDegree"/>
        <result column="created_at" property="createdAt"/>
        <result column="deleted_at" property="deletedAt"/>
        <!--to complex elements we need to use association tag and specified the  resultMap tag with the namespace-->
    </resultMap>

    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO students (name, email, age, year_in_degree) VALUES (#{name}, #{email}, #{age}, #{yearsInDegree});
    </insert>
    <select id="getEntityByID" resultMap="userResultMap">
        SELECT * FROM students WHERE id=#{id};

    </select>
</mapper>
