<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogToFileAirport" fileName="logs/com.solvd.solvdPractice.airport.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name ="LogToFileCollection" fileName="logs/com.solvd.solvdPractice.collections.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name ="LogToFileApacheUtils" fileName="logs/com.solvd.solvdPractice.apacheUtils.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>


    <Loggers>
        <Logger name="com.solvd.solvdPractice.airport" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFileAirport"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFileAirport"/>
        </Root>
        <Logger name="com.solvd.solvdPractice.collections" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFileCollection"/>
        </Logger>

        <Logger name="com.solvd.solvdPractice.apacheUtils" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="com.solvd.solvdPractice.apacheUtils" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFileApacheUtils"/>
        </Logger>

    </Loggers>

</Configuration>
